.hi {
    font-size: 50px;
    margin-left: 100px;
    margin-top: 50px;
    font-family: "Passion One", sans-serif;
    color: #E5E3D4;
}

.projects {
    color: #697565;
    font-family: "Signika", sans-serif;;
    font-size: 30px;
    text-align: center;
}

body {
    background-color: #1E201E;
}

li {
    font-size: 20px;
}

li::marker {
    color: #de3444; /*красим маркеры отдельным от текста цветом*/
}

.btn {
    margin-right: 20px;
    margin-bottom: 20px;
}

.aboutMe {
    margin-left: 100px;
}

.popover-body {
    font-size: 20px !important;
}

.popover {
    max-width: 600px !important;
}

.red {
    color: #de3444;
}

.cards {
    margin-left: 100px;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
}




@media (max-width: 576px) {
    .hi {
        font-size: 40px;
        margin-left: 50px;
        margin-top: 30px;    
    }
    .aboutMe {
        margin-left: 50px;
    }

    .btn-lg {
        height: 40px;
        padding-top: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .btn {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .cards {
        margin-left: 50px;
        margin-top: 20px;
        margin-right: 50px;
    }
  }
